{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "indent": [2, "tab", { "SwitchCase": 1 }],
    "quotes": [1, "double", "avoid-escape"],
    "no-unused-vars": 1,
    "no-unused-expressions": 0,
    "func-names": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "no-else-return": 0
  }
}
